/****** Script for SelectTopNRows command from SSMS  ******/
--SELECT TOP 35 [sno]
--      ,[sname]
--      ,[age]
--      ,[sex]
--      ,[addr]
--  FROM [0107].[dbo].[学生]
  
SELECT TOP 135 [sno]
      ,[cno]
      ,[grade]
  FROM [0107].[dbo].[选修]
  
--SELECT TOP 35 [cno]
--      ,[cname]
--      ,[cpno]
--      ,[ccredit]
--  FROM [0107].[dbo].[课程]